.root {
  display: flex;
  width: 100%;
  position: relative;

  &:hover{
    .x-icon-button {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.x-icon-button{
  position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: rgb(22,28,41);
    right: -10px;
    top: -15px;
    background-image: url('../../../assets/x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    transition: opacity 0.2s ease-out , transform 0.2s ease-out;
    transform: scale(0);
    opacity: 0;
    cursor: pointer;

}

.root .budget-item {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition:  background-color 0.2s ease-out;
  &:hover{
    background-color: darken($color: rgba(22, 28, 41, 0.2), $amount: 2%);
  }
}




.root .budget-item .discription {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  margin-left: 5px;

  align-items: center;

}

.root .budget-item .amount {
  padding: 5px;
  border-radius: 3px;

}

.expense p {
  color: #dc3900 ;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.expense .amount {
  background-color: #ffe5e3;
}

.income p {
  color: #00cc86 ;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.income .amount {
  background-color: #bafacd;
}
