<div class="top-bar">
  <h1>Budget Calculator</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{'red': totalBudet < 0 , 'green' : totalBudet > 0}" >{{totalBudet | number}}</h2>
</section>

<section class="add-item-section">
  <div class="add-item-contanier">
    <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
  </div>
</section>

<hr style="margin-top: 0px; color: rgb(62 74 114 / 79%);">

<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)"></app-budget-item-list>
